

<!-- pink -->
<div class="bgpink"></div>
<div class="bgpink__wrapper"></div>
<div class="bgpink__inner"></div>

<section id="faq" class="faq">
    <div class="blc__sin">
        <h2 class="faq__ttl">How to Online Talk</h2>
        <p class="faq__txt">よくある質問</p>

        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">プロジェクトの詳細について教えてください。</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>ZIPANG ZIPANG OPERAが奏でるジャパニーズポップを、新しいインターネット時代"web3"を通じて、世界に発信していきます。NFTの発行やメタバースの創造にも進出していく予定です。</p>
                </div>
            </dd>
        </dl>
        <dl class="faq__accordion">
            <dt class="faq__accordion--ttl">プロジェクトの詳細について教えてください。</dt>
            <dd class="faq__accordion--cnt">
                <div class="faq__accordion--cntinner">
                    <p>ZIPANG ZIPANG OPERAが奏でるジャパニーズポップを、新しいインターネット時代"web3"を通じて、世界に発信していきます。NFTの発行やメタバースの創造にも進出していく予定です。</p>
                </div>
            </dd>
        </dl>


    </div>
</section>
